<header>
    <a href=https://noid.riscy.tv>&lt; Back To The Future</a>
    <br><hr>
</header>
<article>
<p>
    On Wednesday, February 2nd, 2022 at 12:17, Bumbread wrote:<br><br>
    Hi neo, [...] I think it is a good thing to try to build a PC that would have a very simple architecture and be unconstrained by the limitations of the past. I think this is possible even without redesigning the hardware, and here's how.<br><br>There is some basic functionality that the hardware needs to perform, for example the sole purpose of the audio hardware is to play sound. The purpose of disks is to store data. On this account, an abstract interface could be made, such that the OS provides only these basic functions while itself dealing with all the inconsistencies between existing standards. This idea is not new, in fact every single major OS does it already. Now what is different is the interface itself, and how it presents to the users. If we take windows, it's an immensely complex API where doing lots of things is not simple at all, even if the things themselves are simple.<br><br>So rather than building bottom-up it is in fact possible to build top-down. In fact when designing systems with simple API's I think it is important to actually design top-down, starting from the users and their needs and figuring out what the API for that should look like.<br><br>One of the great complexities comes from the fact that many of the existing standards fail to provide the needed functionality or focus too much on the tasks that aren't common, leaving the more common tasks on the same level of complexity as the rare tasks. So doing research on these standards and coming up with new ones might be of great help when simplifying the systems.<br><br>And I really like the idea of coming up with newer, better standards that improve existing ones while also making them simpler. A few days ago I was studying the way the FAT filesystem is structured. I have found that Microsoft left out one of the key optimizations in it, which might be slowing down the search of the free clusters. The funniest thing is that when they developed FAT32 they left out a few fields that were speeding up this search but only by a small margin. So I have re-thought the FAT standard and developed my own filesystem that was simpler than FAT and at the same time being a bit more performant.<br><br>So what do you think about re-thinking most of the current standards to come up with an OS that's actually good and delivers value to people without all of the frustration born from complexity?<br><br><hr>
</p>
<p>
    On Wed, 2 Feb 2022 at 15:25, Neo Ar wrote:<br><br>
    I agree that it's important to make simple things simple to do in APIs and taking a top-down approach. As Casey Muratori says, "write the usage code first."<br><br>I just read your SFAT document and I like what I see, but haven't had the time to fully digest every aspect of it. I have yet to look at the details of Fat32, so I can't really speak to how yours compares.<br><br><hr>
</p>
<p>
    On Monday, February 7th, 2022 at 09:09, Bumbread wrote:<br><br>
    What are your takes on standardisation? Do you think it's something that helps developers to know the correct behaviour of their system and different systems be compatible with each other, or do you consider it a thing that pushes the development back by solidifying the things that aren't complete?<br><br><hr>
</p>
<p>
    On Monday, February 7th, 2022 at 10:45, Neo Ar wrote:<br><br>
    Standardisation is a double edged sword. I believe it is necessary for serious things with a lot of caveats attached. One problem with standardisation is the "designed by committee" syndrome. It also can slow/hamper progress and codify legacy baggage. <br><br>Consider Vulkan - in theory this sounded like a decent idea, a lower level standard would mean simpler drivers! Of course, the real thing we want is an actual open graphics ISA, but vendors wouldn't agree to that, but surely Vulkan ought to be the next best thing! Well, in reality the development of Vulkan took steam away from improving OpenGL, and Vulkan ended up suffering from the "design by committee" syndrome. First of all, the vendors managed to insist Vulkan have a vendor string field which means drivers may end up bloated with crap like OpenGL: <i>my card can run that game even though it has some incorrect usage of the graphics api, this is a competitive advantage over the other guys who just implement the spec correctly, and so we'll sell more units!&nbsp;</i>For more about Vulkan's mistakes, here is an old email Casey wrote them:&nbsp;<a target="_blank" rel="noreferrer nofollow noopener" href="https://github.com/cmuratori/misc/blob/main/vulkan_dynamic_state.md">https://github.com/cmuratori/misc/blob/main/vulkan_dynamic_state.md</a><br><br>I believe the best way to go about standardisation is to design your standard to be modular with the simplest possible thing being the core of the standard. Look at how RISC-V is standardised, they actually did a really great job at this IMHO. No matter how much crap they add to RISC-V, there is a really simple fixed ISA at the core (RV32I / RV32E). Anything beyond that is standardised as an&nbsp;<i>extension to the ISA.</i><br><br><hr>
</p>
<p>
    On Monday, February 7th, 2022 at 10:57, Neo Ar wrote:<br><br>
    P.P.S. Another example of a standard done really well is the QOI format - the spec is a single page pdf:&nbsp;<a href="https://qoiformat.org/qoi-specification.pdf">https://qoiformat.org/qoi-specification.pdf</a><br><br>As a thought exercise, imagine you wanted to extend QOI with a lot of new complicated features. The lesson from RISC-V is not to simply bake the new features into the spec, but rather to keep the core frozen and offer modular extensions!<br><br><hr>
</p>
<p>
    On Tuesday, February 8th, 2022 at 10:01 Bumbread wrote:<br><br>
    <blockquote>&gt; QOI with a lot of new complicated features</blockquote><br>Now From what I see in the standard, realistically there&#39;s no room for extensions. The extensions could be indicated by a new header with a corresponding tag. But then the presence of 8-bit tags means that whatever the 2-bit tags are they have to account for the other 6 bits overlapping with 8-bit tags. Now if we analyze the tags that are already present and the tags that are free we get the following:<br><br><span style="font-family:monospace;font-size:14px">tag 00------</span><span style="font-family:monospace;font-size:14px">: The tag is QOI_OP_INDEX</span><font face="monospace"><span style="font-size:14px"><br></span></font><font face="monospace"><span style="font-size:14px">tag 01------: The tag is QOI_OP_DIFF<br>tag 10------: The tag is QOI_OP_LUMA<br></span></font><span style="font-family:monospace;font-size:14px">tag 11yyyyy-: If yyyyy is 11111, then this tag signifies the presence of either </span><span style="font-family:monospace;font-size:14px">QOI_OP_RGB</span><span style="font-family:monospace"> or </span><span style="font-family:monospace;font-size:14px">QOI_OP_RGBA</span> (depending on the value of the bit x).<br><br>Thus it is easy to see that whatever the first byte is, all 256 combinations are already occupied by the standard. Thus there&#39;s no way to insert any new extension without changing the standard completely.<br><br>However I can completely see the argument in doing &quot;something like&quot; QOI, wherein you code extensions by their ID, and the format can potentially contain lots of different extensions. IIRC that&#39;s the route TIFF standard went, but there the number of standardised extensions is way higher, making the process of writing a decoder a little bit more complicated. Also the ID&#39;s of different extensions can overlap which is also a problem, especially when there&#39;s no process of registration.<br><br>GPT is a disk partitioning scheme that was created to get around the 4-partition limitation of MBR (an older disk partitioning scheme) and simplify the partition identification process. In MBR the purpose of a partition can be identified using a single-byte &quot;type&quot; field. There being only 255 (0 means unallocated) possible partition states, which lead to some operating systems already having overlapping IDs. So some partition types are already reserved for different things. In GPT they got around that problem by using 128-bit (16 byte) GUID integers for the determination of partition type. That GUID is meant to be generated randomly, meaning there&#39;s an extremely low chance of overlap.<br><br>A lot of things that UEFI did to replace BIOS is considered to be way more complicated than it needs to be. The way BIOS loads an OS is simply loads the first sector from the disk and runs the code in it, while itself providing some basic functionality for reading sectors from disks. This is simple as heck. UEFI requires a FAT-32 formatted partition and a PE executable on that partition that it runs. Initially it was required to be a 64-bit executable but then the UEFI forum realised that they also needed compatibility with 32-bit OS&#39;es. Anyway, what I want to say here is that whatever UEFI did that boosted its complexity actually stems from the kinds of things they wanted to get around -- namely, they wanted multiple OS&#39;es to be managed without the need for special bootloader programs, they wanted the OS&#39;es to be written in C without requiring assembly, they wanted the interface to be independent from the hardware and finally there are other features like network boot, secure boot etc etc.<br><br>The more features you are adding to your system (or a standard), the more complicated it becomes. The tradeoff of feature-completeness &lt;=&gt; complexity is one of the fundamental tradeoffs in systems design, I think.<br><br>Are you familiar with any of ryanfleury&#39;s ideas about compression? There&#39;s also one thing I figured out about the relationship between compression and complexity which I think worth pointing out<br><br><hr>
</p>
<p>
    On Wed, 9 Feb 2022 at 14:38, Neo Ar wrote:<br><br>
    Yeah, exactly. QOI is great as it is and wouldn't really need extensions, but if that was something they wanted they would have had to design it a bit differently to accommodate that. If they would want to extend it in the future, it wouldn't necessarily have to be completely redesigned from the ground up though. For example, some bits could be stolen from the encoding of runs. This wouldn't be compatible with the current standard but that + a small modification to the header could be sufficient. This would of course come with the drawback that it would require more tags to encode long runs - a cost/benefit analysis would have to be performed to determine whether an approach like that would be reasonable, or whether it would be better to design a new format from scratch.<br><br>I haven't looked at TIFF (well, actually I <i>have</i>, but it was ages ago and I don't remember it at all). From what you say though, it sounds like they took an approach closer to the way RISC-V is structured. With RISC-V, they mitigate the "overlap" problem with standardisation of extensions and schemes that have to be followed regarding the ID and encoding. The GUID approach of GPT you mention is an interesting way to handle that as well.<br><br>I think UEFI was just a big mistake all around. A lot of what they were trying to solve (that you listed) were of questionable benefit to begin with, in my opinion. As Elon Musk says, <a target="_blank" rel="noreferrer nofollow noopener" title="https://gitlab.com/-/snippets/2162014" href="https://gitlab.com/-/snippets/2162014">if you're digging your grave, don't dig it faster, stop digging your grave!</a><br><br>I'm not sure I've ever talked to Ryan Fleury about compression... Do you mean the idea of avoiding n*m combinatorics, or are you referring to something else?<br><br><hr>
</p>
<p>
    On Wednesday, February 9th, 2022 at 16:38, Bumbread wrote:<br><br>
    Well, Ryan has many different thoughts on compression, which is interesting because I discovered some of these independently. I'm referring to a particular one there<br><br>I view the concepts within the human mind as a form of compression over the real world. Think about an apple. Right now you didn't imagine any concrete apple with color, taste, smell and I bet for sure you didn't imagine every single molecule and its state. Rather than imagining the whole thing (I don't think the full data of any apple can even fit on any of the hard disks currently available) but rather you imagined a small part of it. In a way what you did there is a lossy data compression. You can look at an apple and compress it down to a concept of an apple, but knowing just the concept can't lead you to know any apple in particular.<br><br>The same principle applies to thoughts, language etc. Pronouns such as "he" are a form of compression over the thing you're currently talking about. So that when I say the next sentence I wouldn't have to repeat the same thing again. Sometimes when you speak you don't even name the thing you're talking about -- it's implied by the context. Anyway this rabbit hole is deep and you can draw many interesting conclusions by viewing the world like that. What I'm interested in though is one conclusion in particular, that when you communicate, different levels of compression take different time requirements from the receiver of that data.<br><br>If I was saying the sentences describing every single thing I want to say it might take lots of time for you to understand what I'm saying. Because there's a lot of things I'm saying and I can't say it faster than I speak or faster than you read. It may be a relatively low-effort task, because each sentence is easy to understand. Readers and lecture listeners would prefer somewhat low-compressed speech, because it's easy to parse and easy to remember and reason about. If, on the other hand I tried to speak in a heavy jargoned speech (for the sake of saying less words), using complicated sentence structure and pack as many words together as I can then, although it wouldn't take much time to listen/read through the entire thing, it would require lots of mental effort to decompress.<br><br>If you ever noticed the speech of doctors (assuming you're not a doctor), or maybe you noticed the speech of programmers that exchange jargon like it's normal, you would quickly see that people's brains can be adapted to almost any compression level, given enough practice. This is because human's thoughts are an abstraction of the real world, and the abstractions you use when you think or speak can change over time. You can learn new abstractions either by learning to apply some jargon from some field, or maybe learning another spoken language. When I learned japanese I was kinda surprised to see that some 3-syllable simple words would translate to 6-word constructions in english or russian. In a way foreign language speakers see and understand the world differently :D<br><br>Now to complexity. I view simplicity as a way of representing the data as plainly as possible. The data consisting of a million zeros may take a million bytes. All the data is uniform and follows a common pattern. The complexity, on the other hand, is the step away from uniformity by introducing some mental effort to parsing the text. The experience that led me to this thought was me writing an x86 assembler a while ago. This required me to understand the way instruction encoding works. And yes, it is kinda hard because different registers have different places in the encoding and depending on the way you use them there are different encodings that are possible. I started by abstracting away all address accesses into one template:<br><br><font face="monospace">    address = [1/2/4/8]*index_reg + base_reg + offset</font><br><br>If in x86 encoding all of these encodings were encoded in a similar fashion and adhered to this template, I would call it a day and just write the encoder. But they weren't meaning I had to do additional work to convert this format into whatever x86 considers the good format. But that isn't the part that got me thinking about simplicity. The part that got is the way I approached the problem. After some struggling I just started writing code like that:<br><br><font face="monospace">    if(index_reg == rax) {<br>        if(base_reg == rax) {            // ...<br>        }<br>        else if(base_reg == rbx) {<br>            // ...<br>        }<br>        // ...<br>    }<br>    // ...</font><br><br>I didn't write the whole thing, because that would probably take up so much space on my disk... I started by noticing similarities between the code and compressing them down. But not all parts were similar, so for the parts that were different I figured out the difference and inserted that as extra if case. By repeating the same process for all registers I ended up with ~100-200LOC encoder. It's interesting to see that coming up with the code I ended up with was way harder than doing it as a series of if/else cases. In fact the whole reason doing series of if/else conditionals is simpler is because there are less invariants to verify. My conclusion was that "plain, stupid" code is the simplest, and only by adding abstractions (yes I consider if statement to be an abstraction) you can improve some of the other of it's properties. This is why I don't consider simplicity to be a 100% good thing. Of course, we need to move towards simplicity because the current state of things dictates that we're on the other side of the spectrum and we need to get away from it. But blindly moving in the opposite direction of the danger might be an also stupid thing -- you might be running towards another danger.<br><br>Where's the golden middle? Well, if simplicity is low-compression and complexity is high-compression then the thought process is the same as for those two concepts. You want the level of simplicity to be "just right" for the person who writes the code to properly understand it. It might be a good idea to abstract over the concept of like "all drivers" or "all filesystems", but I when we're talking about creating a whole new level of abstractions just because two drivers have similar code, that's the time and place to think about whether you actually need that abstraction...<br><br>This message has gotten pretty long. Well I guess that is not an easy inference to make :D<br><br><hr>
</p>
<p>
    On Wednesday, February 9th, 2022 at 17:13, Bumbread wrote:<br><br>
    P.S.<br><br>I want to clarify what I mean by "if is an abstraction". Abstraction is a process by which the programmer decreases the number of dependencies of one piece of code on another code. Then I will define <b>contract</b> to be those dependencies that remain after the abstraction. So as long as the contract doesn't change you should be able to change the code in the lower levels without having to modify the code in the upper ("more abstract") levels. Most abstractions follow a simple pattern. You replace N concrete things by a single interface that specifies which categories all those things belong to and then specify all the operations that are possible on those things. For example, you replace the FAT32, NTFS, ext2 drivers by a single concept "file system", then you define all the operations that are possible on those filesystems and make up an interface for those. In OOP terms this would correspond to making an abstract class and then deriving a few classes from those. People do it too, when they speak. This should be obvious, but "vehicle" is an abstract concept that refers to the set of all objects that can take you from one place to another. This concludes that abstraction is one form of compression, except it doesn't reduce the code itself, it reduces the time required to transmit those thoughts by speaking in general terms instead of saying "vehicle" instead of "thing that moves and stuff".<br><br>There are several methods of abstractions, some of them are more familiar to anyone and some will seem like novelty:<br>- Interface<br>- Template (generic function)<br>- Type<br>- Function<br>- Variable<br>- If statements and cycles<br><br>I put those starting from the highest abstraction to lowest. Why interface is an abstraction is something which I talked about above.<br><br>Template is an abstraction over the types. "This function does this, regardless of the actual objects you put in". If the types have partial ordering relation defined on them it's possible to get the maximum and the minimum element of an array. It's possible to sort that array etc.<br><br>Type is an abstraction over things that support certain sets of operations. By packing the data together and defining certain functions on them it's possible to talk about "objects" rather than plain data. This is useful in some scenarios and reduces the number of arguments each function provides. When you do a type abstraction incorrectly, which is something Casey talked about in his good API talk, then you end up with API's where you have to do lots of struct-filling before calling functions. This sucks compared to simply passing the type which you already have.<br><br>Function is an abstraction over action to be performed. The interface (signature) of the function specifies what data goes in and goes out, and the code that performs that action can be freely changed if needed.<br><br>Now we're getting to the stuff that's not immediately obvious is an abstraction. Variable is the abstraction over the value to be held. If you store some value into the variable, the code that uses that value can be unchanged, while the code that computes that value can be freely changed. It looks like this:<br><font face="monospace"><br>    int free_disk_space;<br>    // Code here can change<br>    // ...<br><br>    free_disk_space = ...;<br><br>    // Code here doesn't need to be changed if you<br>    // change the way free_disk_space is computed<br>    // ...<br>    print("You got: %d disk space free", free_disk_space);</font><br><br>The if statements and while loops are also abstractions over code, but in a weird way. Their interface is invariant, which makes them different from anything else. So the invariant is roughly "what has to be true after the statement runs". According to older computer scientists such as Knuth and Dijkstra good code is the one where the invariants can be seen clearly and verified easily. The way invariants work is something like this:<br><br><font face="monospace">    int arr[] = ...; <br><br>    int max = arr[0];<br>    int curr = 1;<br><br>    while(curr &lt; arr.length) {<br>       // Invariant (see [1]) no longer holds, let's fix it:<br>       if(arr[curr] &gt; max) {<br>            max = arr[curr];<br>       }<br>       // [1]: At this point invariant is that curr is the<br>       // maximum of the values of arr from 0 to curr (inclusive)<br><br>       // Now either invariant doesn't hold or curr is out of bounds<br>       ++curr;<br>    }<br>    // Since at the time the cycle exits curr is out of bounds, the invariant<br>    // has to hold. Therefore curr is the maximum of the values of arr from<br>    // 0 to (arr.length-1) (inclusive)<br><br></font>Now, how does this become an abstraction? Easy, this is the process of "pulling out the code". So we replace code like this:<br><br><font face="monospace">    if(condition) {<br>       // 1. Set-up conditions 1<br>       // 2. Do thing<br>    }<br>    else {<br>       // 1. Set-up conditions 2<br>       // 2. Do thing<br>    }</font><br>With:<br><br><font face="monospace">    if(condition) // 1. Set-up conditions 1<br>    else          // 1. Set-up conditions 2<br>    // Invariants required to do the "thing" are now<br>    // set up, now we can do the thing:<br>    // 2. Do the thing</font><br><br>This is the same thing I did with my x86 instruction encoder as I described in the above message. It reduces the code size completely.<br><br><hr>
</p>
<p>
On Saturday, February 12th, 2022 at 13:30, Neo Ar wrote:<br><br>
<blockquote>&gt; I view the concepts within the human mind as a form of compression over the real world. Think about an apple. Right now you didn’t imagine any concrete apple with color, taste, smell and I bet for sure you didn’t imagine every single molecule and its state.</blockquote><br>I hold the same view, although I think of this in terms of <a href="https://en.wikipedia.org/wiki/Coarse-grained_modeling" rel="noopener noreferrer" target="_blank">a course-graining procedure</a>.<br>In Wolfram Physics, we would say human thought can be modelled with a multi-way system and thus there is an associated “thought-space”. Within that thought-space, you are embedded as a computational-observer. The fact that you are made of the same stuff that you observe means that you, as an observer, are computationally bounded. While the underlying dynamics are computationally-irreducible, there are pockets of computational-reducibility that create emergent patterns. Our sampling of that is a <a href="https://en.wikipedia.org/wiki/Frame_of_reference" rel="noopener noreferrer" target="_blank">reference-frame</a>&nbsp;in special relativity terms. Now imagine the space of human thought as a literal space. The amount by which you are computationally bounded forms a <a href="https://en.wikipedia.org/wiki/Light_cone" rel="noopener noreferrer" target="_blank">light-cone</a>. When you think about things at different levels of abstraction, it is equivalent to&nbsp;<a href="https://en.wikipedia.org/wiki/Lorentz_transformation#boost" rel="noopener noreferrer" target="_blank">boosting your reference frame</a> within the bounds of the light-cone. If you are interested in this take on it and want to know more, I highly recommend reading <a href="https://writings.stephenwolfram.com/2021/09/even-beyond-physics-introducing-multicomputation-as-a-fourth-general-paradigm-for-theoretical-science/" rel="noopener noreferrer" target="_blank">Even beyond Physics: Introducing Multicomputation as a Fourth General Paradigm for Theoretical Science</a>. This whole new paradigm of thinking is just a taste of the exciting stuff coming out of their physics program.<br><br><blockquote>&gt; Rather than imagining the whole thing (I don’t think the full data of any apple can even fit on any of the hard disks currently available) but rather you imagined a small part of it.</blockquote><br>Correct! Technically, pretty much anything is too big at the most fundamental level, because the best underlying representation we currently have would involve evaluating the wavefunction of the entire universe. If you used every particle in the observable universe to solve the schrodinger-equation, you’d be able to model a single molecule at best! That is obviously not feasible, so how is it that we can simulate anything at all? Well, lossy compression (and a little guess-and-check), basically! Even if the underlying physics is intractable to calculate, emergent patterns are what save us. We are able to course-grain and get sensible answers.&nbsp;<a href="https://www.youtube.com/watch?v=55c9wkNmfn0" rel="noopener noreferrer" target="_blank">With DFT, chemical reactions, complex molecules, DNA, and even a viral capsid have been simulated.</a>&nbsp;Lossy compression, <a href="https://en.wikipedia.org/wiki/Effective_theory" rel="noopener noreferrer" target="_blank">effective theory</a>, and <a href="https://en.wikipedia.org/wiki/Emergence" rel="noopener noreferrer" target="_blank">emergence</a> are all deeply related ideas.<br><br>Another example that springs to mind:<br><br><blockquote>&gt; … The theory of quarks and gluons (QCD) at low energies is non-perturbative. But this is just telling us that the “particles” that we see at those energies aren’t quarks and gluons since they’re too tightly bound together: the relevant particles at those energies are mesons and baryons (e.g.pions and protons). Even though QCD—a theory of quarks and gluons—breaks down as a calculational tool, nature allowed us to describe physics in terms of perfectly well behaved (perturbative) “bound state” objects like mesons in an effective theory of QCD. The old adage is true: when nature closes a door, it opens a window.</blockquote><br>(Quoted from <a href="http://www.quantumdiaries.org/2012/02/14/why-do-we-expect-a-higgs-boson-part-ii-unitarization-of-vector-boson-scattering/" rel="noopener noreferrer" target="_blank">Why do we expect a Higgs boson? Part II: Unitarization of Vector Boson Scattering</a>)<br><br><blockquote>&gt; In a way what you did there is a lossy data compression. You can look at an apple and compress it down to a concept of an apple, but knowing just the concept can’t lead you to know any apple in particular.</blockquote><br>That’s exactly right! A course-graining procedure is literally equivalent to lossy data compression. Compression being the information-theoretic way to describe the same idea.<br><br><blockquote>&gt; The same principle applies to thoughts, language etc. Pronouns such as “he” are a form of compression over the thing you’re currently talking about. So that when I say the next sentence I wouldn’t have to repeat the same thing again. Sometimes when you speak you don’t even name the thing you’re talking about — it’s implied by the context. Anyway this rabbit hole is deep and you can draw many interesting conclusions by viewing the world like that. What I’m interested in though is one conclusion in particular, that when you communicate, different levels of compression take different time requirements from the receiver of that data.</blockquote><br>This idea is captured precisely in the Wolfram Physics view I described earlier, it’s a time-space trade-off and adjusting that trade-off is <a href="https://www.youtube.com/watch?v=Rh0pYtQG5wI" rel="noopener noreferrer" target="_blank">lorentz transformation</a>!<br><br><blockquote>&gt; If I was saying the sentences describing every single thing I want to say it might take lots of time for you to understand what I’m saying. Because there’s a lot of things I’m saying and I can’t say it faster than I speak or faster than you read. It may be a relatively low-effort task, because each sentence is easy to understand. Readers and lecture listeners would prefer somewhat low-compressed speech, because it’s easy to parse and easy to remember and reason about. If, on the other hand I tried to speak in a heavy jargoned speech (for the sake of saying less words), using complicated sentence structure and pack as many words together as I can then, although it wouldn’t take much time to listen/read through the entire thing, it would require lots of mental effort to decompress.</blockquote><br>You might enjoy this <a href="https://www.youtube.com/watch?v=lw6TaiXzHAE" rel="noopener noreferrer" target="_blank">Growing a Language talk by Guy Steele</a>.<br><br><blockquote>&gt; If you ever noticed the speech of doctors (assuming you’re not a doctor), or maybe you noticed the speech of programmers that exchange jargon like it’s normal, you would quickly see that people’s brains can be adapted to almost any compression level, given enough practice. This is because human’s thoughts are an abstraction of the real world, and the abstractions you use when you think or speak can change over time. You can learn new abstractions either by learning to apply some jargon from some field, or maybe learning another spoken language. When I learned japanese I was kinda surprised to see that some 3-syllable simple words would translate to 6-word constructions in english or russian. In a way foreign language speakers see and understand the world differently :D</blockquote><br>Yep, the <a href="https://en.wikipedia.org/wiki/Linguistic_relativity" rel="noopener noreferrer" target="_blank">Sapir-Whorf hypothesis</a>, another kind of relativity.<br><br><blockquote>&gt; Where’s the golden middle? Well, if simplicity is low-compression and complexity is high-compression then the thought process is the same as for those two concepts. You want the level of simplicity to be “just right” for the person who writes the code to properly understand it. It might be a good idea to abstract over the concept of like “all drivers” or “all filesystems”, but I when we’re talking about creating a whole new level of abstractions just because two drivers have similar code, that’s the time and place to think about whether you actually need that abstraction…</blockquote><br>I agree that there is a time and place for simplicity, it isn’t a principle to blindly apply everywhere. E.g. we really do want the architecture of actual processors to be complex (superscalar, out-of-order, deeply pipelined, hyperthreading, multi-core, vector-extensions, multi-level caching, speculative execution, branch prediction, etc.) If you don’t do all these things, your processor will be unacceptably slow for most applications, and the programmer will have to spend a lot of effort doing software-pipeline to efficiently schedule instructions. You also see this in cases where you have a loop in software on the critical path and need to optimise it. What ends up happening is you do loop unrolling, SIMD intrinsics (or ASM), and a scalar loop at the end to clean up any left-overs. Not only that, but you need to implement the SIMD path multiple times (for each architecture you are targeting)! Now, sure the complexity could be reduced if everyone was on a single architecture, and perhaps a vector machine style architecture will make things a little more elegant, but it is all about the problem you are trying to solve. If you are just trying to ship software for existing processors, and you REALLY need that loop, and you REALLY need the best possible performance, well, then your complicated SIMD code is not a bad thing, it is the correct solution to the problem! The goal is really to eliminate “accidental complexity.”<br><br>I’ll reply to your follow-up email another day as this is a long discussion :)<br><br><hr>
</p>
<p>
    On Saturday, February 26th, 2022 at 15:25, Neo Ar wrote:<br><br>
    Getting back to the convo:<br><br>It's interesting to me that we have similar thoughts on these matters but that we approach them from opposite directions. Here you have essentially described a top-down view, starting with high-level abstraction and looking at progressively lower-level abstractions, but all the while thinking in terms of abstraction. When I code, I take a bottom-up view of starting with what the machine does and looking at the high-level features in-terms of code-gen. E.g. An if statement is a structured abstraction for generating branch instructions, variables and types are abstractions over memory, register allocation, and procedure calling conventions. Procedures are abstractions over call/ret subroutines.<br><br>Templates and overly-generic code in general I view as a mistake, more or less. Meta-programming does have value, but I think that should live in the space of compile-time-code-execution and having access to compiler-internals.<br><br>Interfaces as a convention (e.g. filesystem layer) make sense but the OOP form does not (many drawbacks, gains you nothing worthwhile).<br><br>Interestingly templates/generic code are bad not only in the sense of drawbacks vs what you gain, but the thing with code that is overly generic is that rather than specialising for a very specific use-case, it tries to be useful as many places as possible, and this means bloat. You might think it isn't bloat because it might be 1 function vs 10, and it may be less code overall, but generic code typically pay for it in the form of extra runtime checks to figure out what case you are actually trying to handle.&nbsp;<br><br>My opinion is that it is more important for the code to be simple from the perspective of the machine, not from the perspective of the human. Do the simplest thing for the machine to do that doesn't unnecessarily waste cycles - that is, "non-pessimised software" as Casey calls it. From there, you do "compression oriented programming," again using Casey-language here, to abstract common patterns into things like procedures and structs. You only optimise if you have a performance bottleneck, but you should always be looking at the assembly that the compiler is generating and ensuring it is close to what you wrote as you intended it (sometimes compilers barf out some real garbage but you can usually play with what you wrote a bit to get it to generate something sane).&nbsp;<br><br>When you spot that you've written many programs with similar patterns in them, it is worth considering hoisting that out into a library, at which point you need to switch to top-down and consider what you wish you could just write in terms of usage-code for all of the programs in question. That informs the design. Same thing on a smaller scale within a application whenever you need to design/expose some kind of API. So it's a process of hopping back and forth between bottom-up and top-down.<br><br>But all of this leads to a nice program for the computer to execute, not a nice program to read. How do we simplify code for the human? The answer to this, in my opinion, is not in the code itself, but rather with documentation.<br><br>During development, you want to plan out a Roadmap of what features need to be done, and the dependencies between them. I wrote my own project management software for this called ActonIt. Or you could use Trello or old-fashioned whiteboards and note-cards or whatever works for you.<br><br>In the code comments, you want to leave TODOs or FIXMEs whenever you need to get back to something (would take you say, more than 3 minutes to write). If it would only take a couple minutes to write it, just do it then and there, don't put a TODO. It is also important to leave notes about any assumptions the code makes. Your code should be making good use of assumptions because it is specialised, not overly generic. But you need to remember those as a human or you're going to shoot yourself in the foot. Whenever you refactor something or fix a bug, there should be a comment so you remember why you made the change you did, or to help you avoid repeating the same mistake.<br><br>It can get real tricky to make sure code handles all the edge cases correctly. To help with that, take the time to model it as a finite state machine and actually graph it. This not only ensures that you are aware of all the edge cases, but also is a useful starting point if you want to attempt to table-drive it. Once you've graphed it out and explored the implementation possibilities, it's worth writing up a few notes about what you tried, what you settled on, and why, and save this file with the project as part of the development documents.<br><br>When the project is finished (projects should always have a "finished" point, not some endless living thing, imo), I advocate for Literate Programming. Write a manual describing both how to use the program as well as how the program was implemented, with the code interspersed. The end result is both a book and a program in one. The book is for the humans. The program is for the machines.<br><br><hr>
</p>
<p>
    On Sat, 26 Feb 2022 at 20:20, Bumbread wrote:<br><br>
    So what I'm understanding is that you think that OOP and templates are a mistake in general and they should not be used. Like if we look at all the code that has been written in Java or Modern C++, we would see that most people just use these features mindlessly, resulting in the code that is hard to read and analyse, and moreover it won't ever fit in your head. What I'd agree with is that most (I don't know how fair to say "most" though) people tend to use those features in a weird way, defaulting their habit of programming to a very perverted kind of habit. But I wouldn't disqualify the features themselves as being useless just for that. In fact what I believe is that there doesn't exist a good culture of programming that inspires the habit of doing the code in the most simple way possible, while reserving the abstractions for a limited set of things which actually needs those abstractions.<br><br>Of course it's always possible to write "the most generic code that can be used for anything and be copy-pasted without any modification whatsoever", in fact the only thing you need for that is a proper analysis. But whenever one writes a program that's meant to do that one simple thing, no one cares if your List type only supports floats. Or the fact that you compute the solution to the quadratic equation in-line. So, in a way I agree with your take on the libraries. It's also worth noting that starting with usage code, combined with compression-oriented programming is a plain and simple way of determining a good interface to whatever abstraction you're going to implement next (if you need one).<br><br><blockquote>&gt; During development, you want to plan out a Roadmap of what features need to be done, and the dependencies between them.</blockquote><br>This is a great way to write programs! I bet you've heard of the research <a target="_blank" href="https://www.win.tue.nl/~wstomv/edu/2ip30/references/criteria_for_modularization.pdf" rel="noreferrer nofollow noopener">on criteria for modularization</a>, which states (parabolizing the result) that the abstraction really only makes sense across pieces of code that can change quickly relative to each other.<br><br><hr>
</p>
<p>
    On Saturday, February 26th, 2022 at 20:23, Bumbread wrote:<br><br>
    P.S. I maybe realised this only now, but an interesting observation is that simplicity counterbalances the number of features that your program is capable of supporting. Essentially this means that the more requirements you pile up the harder it is to make the thing that complies with the requirements, and conversely, the simple systems would be limited.<br><br><hr>
</p>
<p>
    On Tuesday, April 5th, 2022 at 10:09, Neo Ar wrote:<br><br>
    To clarify my stance on OOP, templates, etc., I consider there to be two distinct domains of programming. One is systems programming where you are trying to ship a serious high-quality thing. The other is scripting, where you are just trying to solve a one-off problem and are writing throw-away code. For scripting, all features are useful if they help you think about the problem at a high-level and develop a solution faster.&nbsp;<br><br>For systems programming, my opinion is essentially that <i>anything that does not closely map to hardware is inappropriate</i>. There are no high-level features strictly necessary. C with no runtime or standard library is pretty close to what you want in terms of features. All that matters at the language level is that you are able to write code that compiles to the machine-code you intended to produce. Everything else that goes into making development easier should be happening in the <b>toolchain</b>!<br><br>With textual languages as they exist today, there <i>are </i>some language features that you really do want but are inappropriate by the above criteria. Examples include: comments, expressions, modules. I believe these all have better toolchain oriented solutions in the context of non-textual programming languages, which is the future imho.<br><br>I'm aware of Parnas's work, yeah!<br><br><hr>
</p>
<p>
    On Wednesday, April 6th, 2022 at 06:37, Bumbread wrote:<br><br>
    So what you&#39;re saying is that the language itself should stay very close to hardware, while anything else, like templates, macros, linking etc should be happening on the level of the toolchain, so that you have the choice to use some toolchains over others, or even choose not to use one at all. This is a very powerful thing, I like it. And even if it were to create thousands of different toolchains, arguably this is better than having thousands of languages with similar semantics just to differ in their metaprogramming features.<br><br>But one thing I don&#39;t understand is your separation of scripting vs. systems programming. What are you including in the term systems programming, is it just embeded/OSdev programs or does it include lower-level userspace applications as well? And also wouldn&#39;t it be more useful to think in terms of stages of programming, where you first make a prototype and then polish that prototype and make it more performant?<br><br>[...] there is a tradeoff between simplicity and power, and going in just either of the directions will lead to good that&#39;s either too verbose or too complicated. A good balance between the two can lead to the code that&#39;s the easiest to comprehend. A good analogy is speech. I could expand each word I&#39;m saying into its definition, thereby reducing my vocabulary, but then you would have no idea what I&#39;m saying. On the other hand if I used jargon and words with complicated definitions just comprehending the speech would take some effort. Human minds are only capable of effortlessly processing a capped level of abstraction before they need to exert effort.<br><br>And the problem is not effort but what it brings to you. People tend to get lazy, especially when the job requires effort. This leads to code being largely unanalyzed, so large complex code tends to be buggy. On the other hand the code that&#39;s not abstracted tends to take time to develop, and repetitiveness due to having no power could also be a source of bugs. So a perfect toolchain is the one that gives you the most power but doesn&#39;t force it, and it&#39;s the job of the programmer to use that power sparingly. Enough to complete the job in an acceptable time and not too much to make the code incomprehensible.<br><br><hr>
</p>
<p>
    On Fri, 29 Apr 2022 at 19:10, Bumbread wrote:<br><br>
    I&#39;ve started learning more about LISP, I&#39;m trying to answer some of the questions for myself to better understand programming. Those questions being:<br>- What is the power of LISP and what is it&#39;s extent and drawbacks?<br>- What is an abstraction, what are the methods of abstraction<br>- Can this power, or how much of it can be used in a low-level language?<br><br>I&#39;ve seen some of those questions being answered for me. I basically watched several hours of LISP videos writing down any good thought that comes up, as well as writing the answers to those questions or the information that leads me there. Well the reason I&#39;m mailing is, first of all, to get you excited for the upcoming conversation, after I finished my LISP crusade, haha, and the second reason being to hear your opinion on it. Are you familiar with LISP? What are your thoughts? Do you think there are lessons learned from this language to be used in other languages, and if so, what are they?<br><br><hr>
</p>
<p>
    On Sat, 30 Apr 2022 at 11:27, Neo Ar wrote:<br><br>
    First, a few replies to your older email:<br><br><blockquote>&gt; But one thing I don&#39;t understand is your separation of scripting vs. systems programming. What are you including in the term systems programming, is it just embeded/OSdev programs or does it include lower-level userspace applications as well?</blockquote><br>Yes, by systems program I mean everything from bare metal, OS, to native userspace executables. Essentially, if it is a product you&#39;d ship and isn&#39;t like, a web app, I argue it should be a systems program.<br><br>Even the web now has become, in some sense, a kind of very-cursed &quot;target platform&quot; for systems programming with web assembly...<br><br><blockquote>&gt; And also wouldn&#39;t it be more useful to think in terms of stages of programming, where you first make a prototype and then polish that prototype and make it more performant?<br><br>Yes, but it isn&#39;t one or the other, these are complementary ideas. Scripting is often throwaway code and not a standalone application, like:<br><br>    * Complicated Spreadsheets<br>    * Mathematical/Science Notebooks (Mathematica, Jupyter, etc.)<br>    * Shell scripts to automate / bulk process some command line work<br>    * Greasemonkey/Tampermonkey userscripts for modifying web pages<br><br>Those are examples where it isn&#39;t really something you would likely want to polish or treat as a standalone thing<br><br>But you are correct that scripting is also very useful for prototyping a serious application!<br><br>In this case what you want to do is start out fleshing out the idea in a scripting language, and then rewrite it as a systems program. This is one of the reasons I like D as a scripting language:<br><br>It was designed to be easy to refactor a C program into a D program, which means it also works the other way around: you can progressively lower a D program into a C program pretty painlessly!<br><br>Regarding LISP,<br><br><blockquote>&gt; - What is the power of LISP and what is it&#39;s extent and drawbacks?</blockquote><br>Both the power and drawback of LISP is the double-edged sword of metaprogramming. An additional drawback is performance.<br><br>The common complaint you&#39;ll see about LISP is that people use metaprogramming to build their own little DSL, making code-sharing difficult. I think code-sharing being difficult is not necessarily a bad thing, it is better than a gigantic web of dependencies for sure...<br><br>The real cost of a heavily metaprogrammed codebase is getting new team-members up-to-speed, this imo is the legitimate drawback of using powerful metaprogramming to build a DSL.<br><br>The performance issue is fundamentally because it is a scripting language (by my definition, as we discussed previously). Can you make a fast compiled LISP? Sure, with a lot of engineering effort, losing the benefit of simple implementation while still not being truly competitive with ASM/C. Generally speaking we&#39;re talking about a garbage collected language focused on linked list manipulation here, focused on building high-level solutions to problems from simple building blocks. This is in contrast to providing a thin abstraction over what the machine physically does (a systems language).<br><br><blockquote>&gt; - Can this power, or how much of it can be used in a low-level language?</blockquote><br>Most modern &quot;systems languages&quot; (that I would consider only for scripting, like D, even C++) owe LISP for a lot of their &quot;modern&quot; features! If you want high-level language features, scripting-language features, you basically can&#39;t do better than copying LISP!<br><br>A famous and amusing aphorism along these lines is Greenspun&#39;s tenth rule:<br><br><blockquote>&gt; Any sufficiently complicated C or Fortran program contains an ad hoc, informally-specified, bug-ridden, slow implementation of half of Common Lisp.</blockquote><br>But now let&#39;s ask, what if we don&#39;t want LISP&#39;s power for scripting, we want to do real systems programming... Can we have our cake and eat it too?<br><br>This is clearly what modern &quot;systems languages&quot; tried to do, but my fundamental assertion here is that they failed. What they accomplished was bolting LISP features on top of a C-like base, Greenspun&#39;s 10th style.<br><br>My belief is that we can do better by importing the power of LISP into the toolchain rather than the language.<br><br>This is fundamentally why I am excited about the prospect of non-textual programming languages.<br><br>You see, a fundamentally important aspect of LISP was the property of homoiconicity. This is the source of LISPs metaprogramming power. S-expressions are literally just a textual representation of an AST. Originally, S-expressions were intended to be replaced with more syntactic sugar, but I&#39;d speculate the reason they stuck around was both because it is simple, and also because it makes the code-data duality explicitly clear. But at the end of the day, S-expressions are still just text.<br><br>The fundamental advancement happening with projects like Dion is to say, what if we went further, and made a clear distinction between:<br><br>* Presentation (what you see in your editor),<br>* Representation (what you actually are editing),<br>* Storage (how it is stored on-disk),<br>and provide means of:<br><br>* Editing (insertion, deletion, substitution, etc.)<br>* Querying (grepping, diffing, etc.),<br>* Transformation (metaprogramming),<br>* ...and everything else you&#39;d want out of your toolchain...<br><br>By building a system where you are directly editing an AST and that AST can define transformations on itself to generate more AST, you achieve the metaprogramming power of LISP.<br><br>Once you have this LISPy core, consider this: Compilation is just a series of transformation steps followed by write step in an executable format!<br><br>So now your systems programming language effectively can be defined, in a sense, as a metaprogrammed DSL!<br><br>Getting slightly off-topic, but it is too exciting not to mention, consider the following:<br><br>Another language, FORTH, is incredibly easy to bootstrap from nothing on bare metal. FORTH is a simple stack-oriented language with subroutines called &quot;words,&quot; and these words are naturally strung together in Reverse Polish Notation due to how the stack is being used.<br><br>One thing I discovered when I did noid for the wheel reinvention jam, was that when you compile-time execute an AST for metaprogramming, you naturally want to traverse depth-first postorder, and that this is equivalent to Reverse Polish Notation. Noid was done in C, but this suggests that it would be very natural to bootstrap a system like this off of bare-metal with a FORTH, where your primitive leaves can literally be FORTH words...<br><br>I could go on and on about this but I&#39;ll leave it at this for now...<br><br><blockquote>&gt; I&#39;ve seen some of those questions being answered for me. I basically watched several hours of LISP videos writing down any good thought that comes up, as well as writing the answers to those questions or the information that leads me there.</blockquote><br>I HIGHLY recommend the classic 1986 MIT Structure and Interpretation of Computer Programming lectures given by Harold Abelson, and Gerald Sussman! You can find them on YouTube. Not the newer ones, the 1986 ones specifically (because they are retro and it is just so fun). SICP is also an absolute classic textbook gem, I don&#39;t own a physical copy but at the very least you want to grab yourself the PDF<br><br><blockquote>&gt; I&#39;m mailing is, first of all, to get you excited for the upcoming conversation, after I finished my LISP crusade, haha, and the second reason being to hear your opinion on it. Are you familiar with LISP? What are your thoughts? Do you think there are lessons learned from this language to be used in other languages, and if so, what are they?</blockquote><br>Mission accomplished! You got me so excited I simply had to reply today :) I myself had a LISP crusade when I was younger:<br><br>I watched all the 1986 SICP lectures, skimmed the book, learned Common Lisp, used Emacs w/ SLIME, and used StumpWM - a tiling window manager written entirely in Common Lisp. That was my first experience using a tiling window manager and I&#39;ve been using tiling window managers ever since (currently I use i3). My time with LISP was relatively brief, but I remember it fondly.<br><br>I&#39;ve talked about LISPs features being ideal for scripting, and how its homoiconicity and metaprogramming power represents an important precursor to the non-textual programming ideas being actively explored by the handmade community today. A few other points worth noting are that LISP was an early innovator of self-hosting, the concept of the REPL, and one feature I&#39;ll shout out is that the problem of accidental capture in the world of lisp resulted in the innovation of hygienic macros w/ Scheme. That&#39;s the kind of modern, cutting edge technology you&#39;ll find in a language like Rust... dating back to 1986. ;)<br><br><hr>
</p>
<p>
    On Tuesday, May 3rd, 2022 at 03:38, Bumbread wrote:<br><br>
    <blockquote>&gt; My belief is that we can do better by importing the power of LISP into the toolchain rather than the language</blockquote><br>This is one of the thoughts I had, or rather this looks similar to the thought I had. What I imagined was making a C-like language that&#39;s embedded in LISP, and when you interpret that language, on the top level it seems like it just gets compiled, but what actually happens is that the code you have written isn&#39;t a description of the behaviour of the program as much as description of how to compile a program with given behavior. So what you get is a compiled language with built-in metaprogramming support that has most of LISP&#39;s power.<br><br><blockquote>&gt; So now your systems programming language effectively can be defined, in a sense, as a metaprogrammed DSL!</blockquote><br>Oh shit I didn&#39;t notice that sentence until now, haha that&#39;s literally what you said!<br><br><blockquote>&gt; I HIGHLY recommend the classic 1986 MIT Structure and Interpretation of Computer Programming</blockquote><br>I&#39;ve been recommended this, multiple times and I&#39;m going to say I&#39;m already watching it, it&#39;s what got me onto the lisp train, and it&#39;s amazing. I especially liked the Henderson Escher example, when he introduces the idea that abstraction made by introducing a series of metalanguages is way more powerful and stable than the traditional split and conquer strategy.<br><br><hr>
</p>
</article>
<footer>
    <a href=https://noid.riscy.tv>&lt; Back To The Future</a>
    <br><hr>
</footer>
