@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

/* Structure */
body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
}

header h1
{
    margin: 0;
}

header img.logo,
header .spacer
{
    width: 40px;
}

body section#main
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#premiere
{
    display: flex;
}

#premiere .video
{
    position: relative;
}

.countdown
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.countdown *
{
    overflow: hidden;
    padding: 8px 0;
}

footer
{
    padding: 16px 32px;
}
/* /Structure */

/* Colours & Imagery */
body
{
    background: #FFFFFF;
    color: #000000;
}

#premiere
{
    border: 1px solid transparent;
    border-image-source: url(border.svg);
    border-image-width: 28px;
    border-image-slice: 36;
    padding: 20px;
}

.countdown
{
    background: #FFFFFF;
    color: #000000;
    opacity: 98%;
}

footer
{
    background: #EEEEEE;
}

footer .ownership img.logo
{
    width: 32px;
}
/* /Colours & Imagery */

/* Typography */
body
{
    font-family: "Source Sans Pro";
}

header
{
    text-align: center;
}

header h1
{
    font-weight: 200;
}

a
{
    font-weight: 600;
    text-decoration: none;
}

a:link
{
    color: #15A315;
}

a:visited
{
    color: #0E6B0E;
}

a:hover
{
    color: #000000;
}

.interest
{
    margin: 16px;
    font-size: larger;
}

footer .credits
{
    text-align: right;
}

footer .ownership
{
    text-align: center;
}

footer .ownership p
{
    margin: 0;
}

/* /Typography */
